/* h6{
    color: white;
    font-size: 50px;
    background-color: aquamarine;
} */

.heading1{
    color: red;
    font-size: 50px;
}
.headingBg{
    background-color: yellow;
}
.heading6{
    color: red;
    font-size: 60px;
}

 #heading5{
    color: red;
    font-size: 60px;
    background-color: yellow;
}

.heading4{
    color: red;
    font-size: 60px;
    background-color: yellow;
}

#heading4{
    color:blue;
    font-size: 60px;
    background-color: yellow;  
}

.t_transform_uppercase{
    text-transform: uppercase;
}

.t_transform_lowercase{
    text-transform: lowercase;
}

.t_transform_capitilize{
    text-transform: capitalize;
}

.t_d_overline{
    text-decoration: overline;
}
.t_d_underline{
    text-decoration: underline;
}
.t_d_lineThrough{
    text-decoration: line-through;
}
.t_shadow1{
    font-size: 50px;
    color: blue;
    text-shadow: 8px 5px 2px gray;
}
.t_indent{
    text-indent: 50px;
    color: blue;
}
.t_letter_space{
    letter-spacing: 13px;
}
.t_word_space{
    word-spacing: 40px;
}
.t_line_height{
    line-height: 30px;
}
.f_family1{
    font-family: sans-serif;
    font-size: 20px;
}
.f_family2{
    font-family: fantasy;
    font-style: inherit;
}
.f_family3{
    font-family: cursive;
}
.t_shadow_Khagesh{
    text-shadow: 5px 7px 10px red;
}
.b_shadow{
    box-shadow: 8px 10px 10px gray;
}
.b_shadow{
    box-shadow: 8px 10px 10px gray;
}
.d_shadow{
    filter: drop-shadow(4px 8px 10px red);
}
.b_properties1{
    border: 20px solid red;
}
.b_properties2{
    border: 20px dotted red;
}
.b_properties3{
    border: 20px inset red;
}
.b_properties4{
    border: 20px inset red;
}
.b_properties2{
    border: 20px solid yellow;
    border-top-color: red;
    border-top-left-radius: 40px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 40px;
}
.box_model1{
    border: 4px double red;
    padding: 30px;
    margin: 80px;
}
.box_model2{
    border: 4px solid gray;
    border-radius: 30px;
    padding: 40px 80px 40px 80px;
    margin: 30px 60px 30px 60px;
}
.box_model3{
    border: 4px inset red;
    padding: 60px;
    margin: 60px;

}
.box{
    border: 2px dashed red;
    padding: 30px;
    background-color: aqua;
    width: 200px;
    height: 150px;
    margin-bottom: 20px;
}
.box1{
    position: Static;
}
.box2{
    position: relative;
    left: 300px;
}
.box3{
    position: absolute;
    left: 300px;
    top: 10px;
}
.box4{
    position:sticky ;
    top: 10px;
}
.box5{
    position: fixed;
    bottom: 0px;
    right: 10px;
}
.flex-items{
    background-color:yellowgreen;
    width: 230px;
    height: 150px;
    padding: 10px;
    margin: 10px;
    font-size: 40px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    /* space-evenly,space-between,space-around*/
    list-style: none;
}
.img1{
     background-color:yellowgreen;
    width: 230px;
    height: 150px;
    padding: 10px;
    margin: 10px;
    font-size: 40px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;

}
.img1{
        display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    /* space-evenly,space-between,space-around*/
    list-style: none;
}
.img2{
     background-color:yellowgreen;
    width: 230px;
    height: 150px;
    padding: 10px;
    margin: 10px;
    font-size: 40px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bgImage{
    /* background-color: black; */
    background-image: url("../image/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover ;
}
.heading_1{
    color: white;
    font-size: 70px;
    text-align: center;
    padding: 40px;

}
.para_1{
    color: white;
    margin: 140px 90px 0px 90px;
    font-size: 30px;
}
h1{
    color: blue;
    font-size: 70px ;
}
/* pseudo Classes */
h1:hover{
    color: red;
    background-color: black;
    font-size: 100px;
    text-shadow: 5px 8px 4px yellow;
}
h2{
    color: black;
    font-size: 70px;
}
h2:hover{
    color: white;
    background-color: black;
    font-size: 100px;
    text-shadow: 5px 8px 4px yellow;
}
.heading_active:active
{
    color: blueviolet;
    font-size: 60px;
    cursor: pointer;
}
input:focus{
    border: 10px solid red;
    background-color: black;
    color: white;
}
a:visited{
    color:darkorange;
}
p::first-letter{
    color: blue;
    font-size: 70px;
}
p::first-line{
    color: red;
}
::selection{
    color: red;
    background-color: yellow;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 10px;
    padding: 5px;
}
.box{
    background-color: darkorchid;
    color: white;
    border-radius: 20px;
    height: 200px;
    width: 200px;
    font-style: 300px;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border: 3px solid red ;
    transition: transform 5s ease-in;
}
.box_1:hover{
    transform: translate(125px,125px);
}
.box_2:hover{
    transform: translateX(200px);
}
.box_3:hover{
    transform: translateY(200px);
}
.box_4:hover:hover{
    transform: rotate(360deg);
}
.box_5:hover{
    transform: skew(50deg);
}
.box_6:hover{
    transform: scale(2)
}
#s_animation{
    width: 150px;
    height: 150px;
    background-color: yellow;
    position: relative;
    animation-name: movingbox;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-delay: 5s;
}
@keyframes movingbox{
    0%{
        background-color: yellow;
        left: 0px;
        top: 0px;
    }
    25%{
        background-color: red;
        left: 300px;
        top: 0px;
    }
    50%{
        background-color: blue;
        left: 300px;
        top: 300px;
    }
    75%{
        background-color: chocolate;
        left: 0px;
        top: 300px;
    }
    100%{
        background-image: yellow;
        left: 0px;
        top: 0px;
    }
}
ul{
    width: 200px;
    padding: 10px;
    list-style-type: none;
    font-weight: 700;
}
li{padding: 10px;
    border: 2px solid red;
    margin-bottom: 5px;
    border-radius: 10px;
}
li:nth-child(odd){
    background-color: yellow;
}
li:nth-child(even){
    background-color: black;
    color: blanchedalmond;
}
li:nth-child(5){
    background-color: blueviolet;
}
.text-container{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    letter-spacing: 4px;
    font-size: 80px;
    font-weight: 800;
    perspective: 100px;
}
.text-container > b {
    height: 90px;
    box-shadow: 0px 10px 5px gray;
    /* background-color: green; */
    background: linear-gradient(to right, orange,blue,green);
    background-clip: text;
    color: transparent;
    transform-origin: bottom;
    animation: getupdown 10s infinite;
}

.text-container > b:nth-child(1) { animation-delay: 0s;}
    .text-container > b:nth-child(2) { animation-delay: 0.25s;}
        .text-container > b:nth-child(3) { animation-delay: 0.50s;}
            .text-container > b:nth-child(4) { animation-delay: 0.75s;}
                .text-container > b:nth-child(5) { animation-delay: 1s;}
                    .text-container > b:nth-child(6) { animation-delay: 1.25s;}
                        .text-container > b:nth-child(7) { animation-delay: 1.50s;}

            @keyframes getupdown{
                from { transform: rotateX(-85deg);}
                10%,50%{transform: rotateX(0);}
                60%, to{transform: rotateX(-85deg);}
            }

.linear{
    height: 300px;
    background: linear-gradient(orange, white,green);
}
h2{
    color: blue;
    text-align: center;
    padding-top: 100px;
}
.radial{
    height: 600px;
    background: radial-gradient(circle,black,orange,red,green)
}
.r_image{
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.conic {
    height: 300px;
    background: conic-gradient(
        red,
        orange,
        yellow,
        green,
        blue,
        indigo,
        violet
    );
}
.donut{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background: conic-gradient(red,yellow,green,blue);
    mask: radial-gradient(circle 60px, transparent 60px,black 41px);
}
.container{
    position: relative;
    margin: 50px;
}
div{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
}
.blue{
    background-color:blue;
    left: 50px;
    z-index: 4;
}
.red{
     background-color:red;
    left: 90px;
    z-index: 12;
}
.green{
     background-color: green;
    left: 130px;
    z-index: 3;
}
.yellow{
    background-color: yellow;
    left: 160px;
    z-index: 3;
}

