/* h6{
    color: white;
    font-size: 50px;
    background-color: aquamarine;
} */

.heading1{
    color: red;
    font-size: 50px;
}
.headingBg{
    background-color: yellow;
}
.heading6{
    color: red;
    font-size: 60px;
}

 #heading5{
    color: red;
    font-size: 60px;
    background-color: yellow;
}

.heading4{
    color: red;
    font-size: 60px;
    background-color: yellow;
}

#heading4{
    color:blue;
    font-size: 60px;
    background-color: yellow;  
}

.t_transform_uppercase{
    text-transform: uppercase;
}

.t_transform_lowercase{
    text-transform: lowercase;
}

.t_transform_capitilize{
    text-transform: capitalize;
}

.t_d_overline{
    text-decoration: overline;
}
.t_d_underline{
    text-decoration: underline;
}
.t_d_lineThrough{
    text-decoration: line-through;
}
.t_shadow1{
    font-size: 50px;
    color: blue;
    text-shadow: 8px 5px 2px gray;
}
.t_indent{
    text-indent: 50px;
    color: blue;
}
.t_letter_space{
    letter-spacing: 13px;
}
.t_word_space{
    word-spacing: 40px;
}
.t_line_height{
    line-height: 30px;
}
.f_family1{
    font-family: sans-serif;
    font-size: 20px;
}
.f_family2{
    font-family: fantasy;
    font-style: inherit;
}
.f_family3{
    font-family: cursive;
}
.t_shadow_Khagesh{
    text-shadow: 5px 7px 10px red;
}
.b_shadow{
    box-shadow: 8px 10px 10px gray;
}
.b_shadow{
    box-shadow: 8px 10px 10px gray;
}
.d_shadow{
    filter: drop-shadow(4px 8px 10px red);
}
.b_properties1{
    border: 20px solid red;
}
.b_properties2{
    border: 20px dotted red;
}
.b_properties3{
    border: 20px inset red;
}
.b_properties4{
    border: 20px inset red;
}
.b_properties2{
    border: 20px solid yellow;
    border-top-color: red;
    border-top-left-radius: 40px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 40px;
}
.box_model1{
    border: 4px double red;
    padding: 30px;
    margin: 80px;
}
.box_model2{
    border: 4px solid gray;
    border-radius: 30px;
    padding: 40px 80px 40px 80px;
    margin: 30px 60px 30px 60px;
}
.box_model3{
    border: 4px inset red;
    padding: 60px;
    margin: 60px;

}
.box{
    border: 2px dashed red;
    padding: 30px;
    background-color: aqua;
    width: 200px;
    height: 150px;
    margin-bottom: 20px;
}
.box1{
    position: Static;
}
.box2{
    position: relative;
    left: 300px;
}
.box3{
    position: absolute;
    left: 300px;
    top: 10px;
}
.box4{
    position:sticky ;
    top: 10px;
}
.box5{
    position: fixed;
    bottom: 0px;
    right: 10px;

}